.doctors{
    // margin: auto
    // padding: 0 10px;
    .headings{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .h-con{
            margin: 0;
            h1{
                font-weight: 700;
                font-size: 26px;
                color: #111417;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                color: #617283;
                
            }
        }


        .search-btn{
            margin: 0;
            a{
                text-decoration: none;
                font-weight: 500;
                font-size: 16px;
                color: #04518C;
            }
            img{
                width: 6.25px;
                height: 10.49px;
            }
            
        }
    }
    .specialist{
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        // margin: 32px 0px;
        // gap: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5%;
        // margin: 32px 0;
        .service{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            img{
                margin: 32px 0px 16px 0px;
                width: 144px;
                height: 160px;
            }
            h2{
                font-weight: 700;
                font-size: 18px;
                align-items: center;
                margin-bottom: 11px;
            }
            span{
                font-weight: 500;
                font-size: 12px;
                color: #078FF7;
            }
        }
    }
}

.diagonostic{
    .headings{
        h1{
            margin-top: 8px;
        }
    }

    .machines{
        gap: 4.2%;
        margin-top: 32px;

        .service{
            
            img{
                height: 144px;
                width: 144px;
                margin: 2px 0 ;
            }
            .fifth-img{
                margin-top: 25px;

            }
        }

    }
}