.m6{
    margin:0px ;
}
.m0{
    margin: 0;
}
.width-m{
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 20px
}
.auto{
    margin: 0 auto;
    // padding: 0 20px;
}
button:hover{
    cursor: pointer;
    transition: all 0.1s ease;
    &:hover{
        transform: scale(1.01);
    }
}

.view-all{
    margin-top: 10px;
    cursor: pointer;
    
    a{
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        color: #04518C;
        margin-right: 12.88px;
        
        &:hover{
            color: #078FF7;
        }
    }
    // img{
    //     width: 6.25px;
    //     height: 10.49px;
    // }
    
}

.hover:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
    }
}
.hover2:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.02);
        background: #d8e6f1;
    }
}
.hover3{
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        transform: scale(1.1);
    }
}
