
.nav{
    // height: 70px;
    .service{
        display: flex;
        font-size: 16px;
        font-weight: 500;
        justify-content: space-between;
        // max-width: 1256px;
        // padding: 12px 80px;
        // margin: 0 6%;

        // width: 92.2916666667%;
        padding: 12px 0;
        .links{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            list-style-type: none;
            h1{
                color: #04518C;
            }
            a{
                text-decoration: none;
                color: #617283;
                margin-left: 56px;
            }
            a:hover{
                // transition: ease 1s;
                color: #078FF7;
            }
        }
        .login{
            padding: 0px 8px;
            color: #078FF7;
            background-color: #FFFFFF;
            font-size: 14px;
            font-weight: 500;
            border: 1px solid #078FF7;
            border-radius: 4px;
            cursor: pointer;
            margin: 0;

            
            // margin-right: 7.6%;
        }
        .login:hover{
            color: #FFFFFF;
            background-color: #078FF7;
        }

    }
}