.news{
    margin: 100px auto;
    // width: 100%;

    .links {
        display: flex;
        list-style-type: none;
        justify-content: left;
        padding: 24px;
        // width: 100%;
        // margin: auto;  
        border-bottom: 2px solid #F1F1F1;
        li{
            margin: 0px 65px;
            :hover{
                text-decoration: underline;
                // padding: 5px 10px;
            }
        }
        a{
            text-decoration:none;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            text-align: center;
            color: #04518C;
            margin:0px;
        }
        
    }
    h1{

        font-weight: 700;
        font-size: 26px;
        line-height: 115%;
        color: #111417;
    }
    .container{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin-top: 24px;
        .vectors{
            width: 480px;
            height: 290.37px;
            position: relative;
            .one{
                height: 271px;
                width: 458px;
                position: absolute;
                z-index: 100;
                left: 0;
                top: 0;
            }
            .two{
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: 0;
            }          
        }
        .con-one {
            margin-top: 16px;
            h2{
                font-weight: 700;
                font-size: 20px;
                line-height: 120%;
                color: #252B32;
                max-width: 478px;
                height: 48px;
                margin-top: 16px;
            }
        }
        .con-two{
            width: 682px;
            height: 409px;
            border: 2px solid #F1F1F1;
            border-radius: 4px;
            overflow: hidden;
            overflow-y: scroll;

            .article{
                display: flex;
            }
            img{
                margin: 24px 16px auto 24px;
            }
            .dates{
                h2{
                    max-width: 450px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 120%;
                    color: #252B32;
                    margin-top: 24px;
                }
                span{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 149%;
                    color: #545454;
                }
            }
            
        }
        .scroll {
            position: relative;
            .line{
                height: 393px;
                width: 5px;
                position: absolute;
            }
        }    
    }
    .btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        .view-more{
            padding: 16px 32px;
            gap: 4px;
            width: 210px;
            height: 52px;
            background: #19B3BD;
            border-radius: 4px;
            border: 2px solid #19B3BD;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            outline: none !important;
        }
    }

    
::-webkit-scrollbar {
    width: .8vw;
    border: 2px;
  }
::-webkit-scrollbar-track {
    background: #F8F8FA; 
  }
::-webkit-scrollbar-thumb {
    background: #D0D3D6; 
    border-radius:10px;
  }
::-webkit-scrollbar-thumb:hover {
  
    background: #555; 
  } 
  ::-webkit-scrollbar-button {
    height: 12px;
  }
}
