#serve{
    display: flex;
    justify-content: space-between;
    // margin-top: 40px;
    margin: 40px 6% ;

    .service{
        margin: 0;

        h1{
            font-weight: 700;
            font-size: 44px;
            color: #111417;
            width: 555px;
            margin: 32px 0;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            color: #4D5A68;
            width: 443px;
            margin: 8px 0px;
        }
        .search-box{
            height: 161px;
            width: 624px;
            border-radius: 4px;
            background-color: #023154;
            margin-top: 40px;

            .links{
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                text-align: center;
                align-items: center;
                height: 40px;
                border-bottom: 1px solid #617283;
                // padding: 16px 24px;
                .findoc{
                    color: #FFFFFF;
                    padding-bottom: 9px;
                    border-bottom: 2px solid #71BFFB;
                }

                a{
                    font-weight: 500;
                    font-size: 14px;
                    color: #93A1AF;
                    text-decoration: none;
                    // padding:10px 15px;
                }
            }

            .search{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                box-sizing: border-box;
                
                .search-bar{
                    display: flex;
                    align-items: center;
                    width: 371px;
                    height: 52px;
                    background-color: #FFFFFF;
                    margin: 24px 24px 32px 24px;
                    border: 1px solid #04518C;
                    border-radius: 5px;

                    .search_control{
                        width: 316px;
                        height: 52px;
                        border: none;
                        background-color: transparent;
                        resize: none;
                        outline: none;  
                    }
                    img{
                        margin: 0px 10px;
                    }

                }
            
                button{
                    width: 165px;
                    height: 52px;
                    margin: 16px 40px 24px 0px;
                    color: #FFFFFF;
                    background: #078FF7;
                    border: 2px solid #078FF7;
                    border-radius: 4px;
                    outline: none  !important;
                }
            }
        }
    }
    .img{
        width: 495px;
        height: 469px;
        border-radius: 12px;
        margin: 0;

    }
}