

* , html , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scroll-behavior:smooth;
    // font-size: 14px;
    // margin: 0 auto;
}
head .logo_img{
    border-radius: 50%;
    color: #111;
}
@import './topnav';
@import './nav';
@import './service';
@import './doctors';
@import './emergency';
@import './news';
@import './mobileapp';
@import './bottom';
@import './search';
@import './margin';
@import './Media-Q/mcommon';
@import './Media-Q/mindex';
@import './Media-Q/mservice';
@import './Media-Q/mmobileapp';

// @import './scrollbar';
// @import './owl';



@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
// body{
//     margin: 0px 50px 0px 50px;
//     padding: 0px 25px;
// }




